This code is used to implement a multivariate polynomial fit and find R2

In [ ]:
import pandas as pd
from sklearn.linear_model import LinearRegression as LR
from sklearn.metrics import r2_score
from sklearn.preprocessing import PolynomialFeatures   #StandardScaler

data = pd.read_csv('density_data.csv')    
x = data[['energy_density', 'size','speed']]
y = data['n_density']

In [2]:
# degree denotes the dimension of the polynomial
# interaction_only indicates if only a*b is used
# include_bias indicates whether to add a bias item with all columns equal to 1
po = PolynomialFeatures(degree=2, interaction_only=False, include_bias=False)
x_poly = po.fit_transform(x)
pd.DataFrame(x_poly).head()

      0    1       2       3     4      5      6        7           8
0  0.18  1.5  5000.0  0.0324  0.27  900.0   2.25   7500.0  25000000.0
1  0.18  2.0  5000.0  0.0324  0.36  900.0   4.00  10000.0  25000000.0
2  0.18  2.5  5000.0  0.0324  0.45  900.0   6.25  12500.0  25000000.0
3  0.18  3.0  5000.0  0.0324  0.54  900.0   9.00  15000.0  25000000.0
4  0.18  5.0  5000.0  0.0324  0.90  900.0  25.00  25000.0  25000000.0

In [3]:
# x_poly = pd.DataFrame(x_poly, columns=['0', '1', '2', '3', '4', '5', '6', '7', '8'])
x_poly = pd.DataFrame(x_poly)
x_poly.head()

      0    1       2       3     4      5      6        7           8
0  0.18  1.5  5000.0  0.0324  0.27  900.0   2.25   7500.0  25000000.0
1  0.18  2.0  5000.0  0.0324  0.36  900.0   4.00  10000.0  25000000.0
2  0.18  2.5  5000.0  0.0324  0.45  900.0   6.25  12500.0  25000000.0
3  0.18  3.0  5000.0  0.0324  0.54  900.0   9.00  15000.0  25000000.0
4  0.18  5.0  5000.0  0.0324  0.90  900.0  25.00  25000.0  25000000.0

In [4]:
reg = LR().fit(x_poly,y)
yhat = reg.predict(x_poly)

In [6]:
r2_score(y, yhat) 
# Calculate R2

0.623165893277306